* {
  transition: all 0.5s;
}

body {
  font-family: monospace;
  background-color: rgb(10, 10, 10);
}

.hero-section {
  min-height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  background-image: url("assets/hero-image.png");
  background-position: center;
  background-size: cover;
}

.hero-section-content {
  width: 70%;
  text-align: center;
}

.hero-section-content h1 {
  font-size: 96px;
  font-weight: 800;
}

.hero-section-content h6 {
  font-size: 32px;
  line-height: 1.6;
  opacity: 80%;
}

.cyan-span {
  color: #fff;
  background-color: rgb(0, 179, 179);

  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  font-weight: 800;
  border-radius: 10px;
}

.orange-span {
  color: #fff;
  background-color: orange;

  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  font-weight: 800;
  border-radius: 10px;
}

.about-section {
  height: auto;
  width: auto;

  margin-top: 100px;
  margin-bottom: 100px;

  padding: 30px;
}

.about-wrapper {
  background-image: url(assets/about-image.png);
  border-radius: 20px;

  margin-right: auto;
  margin-left: auto;

  box-shadow: 5px 5px 30px black;

  padding: 80px;

  height: 100%;
  width: 60%;

  color: #fff;
}

.about-wrapper:hover {
  transform: translateY(-20px);
}

.about-wrapper h2 {
  font-size: 64px;
}

.about-wrapper p {
  font-size: 32px;
  opacity: 80%;
}

.store-section {
  background-image: url(assets/store-image.png);
  background-position: center;
  background-size: cover;

  height: auto;
  width: auto;

  padding-top: 100px;
  padding-bottom: 100px;

  color: #fff;

  text-align: center;
}

.store-section h1 {
  font-size: 96px;
  font-weight: 800;
}

.store-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  gap: 20px;
}

.store-item {
  background-color: rgba(10, 10, 10, 0.8);
  box-shadow: 5px 5px 30px black;

  width: 300px;

  border-radius: 10px;
  padding: 30px;
}

.store-item-name {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 800;
}

.store-item-price {
  font-size: 24px;
  opacity: 0.8;
}

.store-item-button {
  margin-top: 2px;

  outline: none;
  border: none;

  font-size: 24px;
  border-radius: 30px;
  color: rgb(0, 179, 179);

  cursor: pointer;
}

.store-item-button:hover {
  color: orange;
}

.gallery-section {
  text-align: center;

  color: #fff;

  margin-top: 100px;
  margin-bottom: 100px;
}

.gallery-section h1 {
  font-size: 96px;
  font-weight: 800;
}

.gallery-wrapper {
  margin-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.gallery-wrapper img {
  cursor: pointer;
}

.gallery-wrapper img:hover {
  transform: scale(1.05);
}

@media screen and (width < 768px) {
  .hero-section-content h1,
  .store-section h1,
  .gallery-section h1 {
    font-size: 42px;
  }

  .hero-section-content h6 {
    margin-top: 20px;
    font-size: 20px;
  }

  .about-wrapper {
    padding: 25px;
    width: 80%;
  }

  .about-wrapper h2 {
    font-size: 32px;
    text-align: center;
  }

  .about-wrapper p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }

  .store-item-image {
    width: 80%;
  }
}
